Modulos/SAO/Visual.Net/Opciones/AdminOpciones2/AdminOpciones/Service References/SrvNumeroIBSPorOperacion84/WSNumeroIBSporOperacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="NRO_IBS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="NRO_IBS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="NRO_IBS">
      <s:element name="ObtenerNumeroIBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NumeroOperacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Sistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNumeroIBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="STREAM" type="tns:Return_XML_Operaciones" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Return_XML_Operaciones">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="tns:Header" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfOSP_R_ART84_INPWSIBS_OPE_TICK" />
          <s:element minOccurs="0" maxOccurs="1" name="LOG" type="tns:LOG_APLICACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Header">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLAG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOSP_R_ART84_INPWSIBS_OPE_TICK">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="oSP_R_ART84_INPWSIBS_OPE_TICK" nillable="true" type="tns:oSP_R_ART84_INPWSIBS_OPE_TICK" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="oSP_R_ART84_INPWSIBS_OPE_TICK">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TICKET" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="NRO_IBS" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_APLICACION" type="tns:ArrayOfLOG_ERRORES_APLICACION" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_CONEXION" type="tns:ArrayOfLOG_CONEXION" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_DATA" type="tns:ArrayOfLOG_EVENTOS_DATA" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_SQL_EXCEPTION" type="tns:ArrayOfLOG_SQL_EXCEPTION" />
          <s:element minOccurs="0" maxOccurs="1" name="RETURN_VALUE" type="tns:ArrayOfLOG_RETURN_VALUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_ERRORES_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_ERRORES_APLICACION" nillable="true" type="tns:LOG_ERRORES_APLICACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_ERRORES_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HORA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINEA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="METODO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_CONEXION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_CONEXION" nillable="true" type="tns:LOG_CONEXION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_CONEXION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SERVIDOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_EVENTOS_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_EVENTOS_DATA" nillable="true" type="tns:LOG_EVENTOS_DATA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_EVENTOS_DATA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAJE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_SQL_EXCEPTION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_SQL_EXCEPTION" nillable="true" type="tns:LOG_SQL_EXCEPTION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_SQL_EXCEPTION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_RETURN_VALUE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_RETURN_VALUE" nillable="true" type="tns:LOG_RETURN_VALUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_RETURN_VALUE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RETORNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RESULTADOS" nillable="true" type="tns:Return_XML_Operaciones" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerNumeroIBSSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroIBS" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroIBSSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroIBSResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroIBSHttpGetIn">
    <wsdl:part name="NumeroOperacion" type="s:string" />
    <wsdl:part name="Sistema" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroIBSHttpGetOut">
    <wsdl:part name="Body" element="tns:RESULTADOS" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroIBSHttpPostIn">
    <wsdl:part name="NumeroOperacion" type="s:string" />
    <wsdl:part name="Sistema" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroIBSHttpPostOut">
    <wsdl:part name="Body" element="tns:RESULTADOS" />
  </wsdl:message>
  <wsdl:portType name="WSNumeroIBSporOperacionSoap">
    <wsdl:operation name="ObtenerNumeroIBS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Numero de IBS por Operacion Enviada</wsdl:documentation>
      <wsdl:input message="tns:ObtenerNumeroIBSSoapIn" />
      <wsdl:output message="tns:ObtenerNumeroIBSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSNumeroIBSporOperacionHttpGet">
    <wsdl:operation name="ObtenerNumeroIBS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Numero de IBS por Operacion Enviada</wsdl:documentation>
      <wsdl:input message="tns:ObtenerNumeroIBSHttpGetIn" />
      <wsdl:output message="tns:ObtenerNumeroIBSHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSNumeroIBSporOperacionHttpPost">
    <wsdl:operation name="ObtenerNumeroIBS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtener Numero de IBS por Operacion Enviada</wsdl:documentation>
      <wsdl:input message="tns:ObtenerNumeroIBSHttpPostIn" />
      <wsdl:output message="tns:ObtenerNumeroIBSHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSNumeroIBSporOperacionSoap" type="tns:WSNumeroIBSporOperacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerNumeroIBS">
      <soap:operation soapAction="NRO_IBS/ObtenerNumeroIBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroIBSporOperacionSoap12" type="tns:WSNumeroIBSporOperacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerNumeroIBS">
      <soap12:operation soapAction="NRO_IBS/ObtenerNumeroIBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroIBSporOperacionHttpGet" type="tns:WSNumeroIBSporOperacionHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerNumeroIBS">
      <http:operation location="/ObtenerNumeroIBS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSNumeroIBSporOperacionHttpPost" type="tns:WSNumeroIBSporOperacionHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerNumeroIBS">
      <http:operation location="/ObtenerNumeroIBS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSNumeroIBSporOperacion">
    <wsdl:port name="WSNumeroIBSporOperacionSoap" binding="tns:WSNumeroIBSporOperacionSoap">
      <soap:address location="http://172.18.55.24:9998/WSNumeroIBSporOperacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroIBSporOperacionSoap12" binding="tns:WSNumeroIBSporOperacionSoap12">
      <soap12:address location="http://172.18.55.24:9998/WSNumeroIBSporOperacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroIBSporOperacionHttpGet" binding="tns:WSNumeroIBSporOperacionHttpGet">
      <http:address location="http://172.18.55.24:9998/WSNumeroIBSporOperacion.asmx" />
    </wsdl:port>
    <wsdl:port name="WSNumeroIBSporOperacionHttpPost" binding="tns:WSNumeroIBSporOperacionHttpPost">
      <http:address location="http://172.18.55.24:9998/WSNumeroIBSporOperacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>