Modulos/SAO/Visual.Net/Opciones/AdminOpciones2/AdminOpciones/Service References/SrvTicket84/WSTicket.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="TICKET" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="TICKET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="TICKET">
      <s:element name="ConsultaNumeroTicket">
        <s:complexType />
      </s:element>
      <s:element name="ConsultaNumeroTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="STREAM" type="tns:Return_XML_Ticket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Return_XML_Ticket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Header" type="tns:Header" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="tns:Ticket" />
          <s:element minOccurs="0" maxOccurs="1" name="LOG" type="tns:LOG_APLICACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Header">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FLAG" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TICKET" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_APLICACION" type="tns:ArrayOfLOG_ERRORES_APLICACION" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_CONEXION" type="tns:ArrayOfLOG_CONEXION" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_DATA" type="tns:ArrayOfLOG_EVENTOS_DATA" />
          <s:element minOccurs="0" maxOccurs="1" name="EVENTO_SQL_EXCEPTION" type="tns:ArrayOfLOG_SQL_EXCEPTION" />
          <s:element minOccurs="0" maxOccurs="1" name="RETURN_VALUE" type="tns:ArrayOfLOG_RETURN_VALUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_ERRORES_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_ERRORES_APLICACION" nillable="true" type="tns:LOG_ERRORES_APLICACION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_ERRORES_APLICACION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HORA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LINEA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="METODO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CLASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_CONEXION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_CONEXION" nillable="true" type="tns:LOG_CONEXION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_CONEXION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SERVIDOR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BASE" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HORA" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_EVENTOS_DATA">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_EVENTOS_DATA" nillable="true" type="tns:LOG_EVENTOS_DATA" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_EVENTOS_DATA">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MENSAJE" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_SQL_EXCEPTION">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_SQL_EXCEPTION" nillable="true" type="tns:LOG_SQL_EXCEPTION" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_SQL_EXCEPTION">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ERROR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLOG_RETURN_VALUE">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LOG_RETURN_VALUE" nillable="true" type="tns:LOG_RETURN_VALUE" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LOG_RETURN_VALUE">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RETORNO" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RESULTADOS" nillable="true" type="tns:Return_XML_Ticket" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultaNumeroTicketSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaNumeroTicket" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumeroTicketSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaNumeroTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumeroTicketHttpGetIn" />
  <wsdl:message name="ConsultaNumeroTicketHttpGetOut">
    <wsdl:part name="Body" element="tns:RESULTADOS" />
  </wsdl:message>
  <wsdl:message name="ConsultaNumeroTicketHttpPostIn" />
  <wsdl:message name="ConsultaNumeroTicketHttpPostOut">
    <wsdl:part name="Body" element="tns:RESULTADOS" />
  </wsdl:message>
  <wsdl:portType name="WSTicketSoap">
    <wsdl:operation name="ConsultaNumeroTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Numero de Ticket</wsdl:documentation>
      <wsdl:input message="tns:ConsultaNumeroTicketSoapIn" />
      <wsdl:output message="tns:ConsultaNumeroTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSTicketHttpGet">
    <wsdl:operation name="ConsultaNumeroTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Numero de Ticket</wsdl:documentation>
      <wsdl:input message="tns:ConsultaNumeroTicketHttpGetIn" />
      <wsdl:output message="tns:ConsultaNumeroTicketHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WSTicketHttpPost">
    <wsdl:operation name="ConsultaNumeroTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta Numero de Ticket</wsdl:documentation>
      <wsdl:input message="tns:ConsultaNumeroTicketHttpPostIn" />
      <wsdl:output message="tns:ConsultaNumeroTicketHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSTicketSoap" type="tns:WSTicketSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaNumeroTicket">
      <soap:operation soapAction="TICKET/ConsultaNumeroTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTicketSoap12" type="tns:WSTicketSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultaNumeroTicket">
      <soap12:operation soapAction="TICKET/ConsultaNumeroTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTicketHttpGet" type="tns:WSTicketHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ConsultaNumeroTicket">
      <http:operation location="/ConsultaNumeroTicket" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSTicketHttpPost" type="tns:WSTicketHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ConsultaNumeroTicket">
      <http:operation location="/ConsultaNumeroTicket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSTicket">
    <wsdl:port name="WSTicketSoap" binding="tns:WSTicketSoap">
      <soap:address location="http://172.18.55.24:9998/WSTicket.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTicketSoap12" binding="tns:WSTicketSoap12">
      <soap12:address location="http://172.18.55.24:9998/WSTicket.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTicketHttpGet" binding="tns:WSTicketHttpGet">
      <http:address location="http://172.18.55.24:9998/WSTicket.asmx" />
    </wsdl:port>
    <wsdl:port name="WSTicketHttpPost" binding="tns:WSTicketHttpPost">
      <http:address location="http://172.18.55.24:9998/WSTicket.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>