Modulos/SAO/Visual.Net/Opciones/AdminOpciones2/AdminOpciones/Service References/SrvTomaLinea/ProxyLineaCredito1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyServiceSAO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyServiceSAO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProxyClientResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusDesc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProxyClientResult" nillable="true" type="tns:ProxyClientResult" />
</xs:schema>