Modulos/SAO/Visual.Net/Opciones/AdminOpciones2/AdminOpciones/Service References/SrvTomaLinea/ProxyLineaCredito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.191.0.21:7657/ProxyLineaCredito.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyServiceSAO" />
  <xs:element name="getLineaCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteAS400" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="facility" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plazoOP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="montoLinea" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="monedaAS400" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLineaCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyServiceSAO" minOccurs="0" name="getLineaCodeResult" nillable="true" type="q1:ProxyClientResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>