Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd49" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd50" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd51" />
  <xsd:complexType name="Contact_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Language" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ContactName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Email" type="tns:Email_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PhoneNum" type="tns:PhoneNum_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PostAddr" type="tns:PostAddr_Type" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>