Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/1105.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd94" />
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd7" />
  <complexType name="AcctTrnRef_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="AcctTrnInfo" type="tns:AcctTrnInfo_Type" />
      <element minOccurs="0" maxOccurs="1" name="AcctTrnKeys" type="tns:AcctTrnKeys_Type" />
    </sequence>
  </complexType>
</schema>