Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/1109.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd63" />
  <xsd:complexType name="AcctRef_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctRec" type="tns:AcctRec_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctInfo" type="tns:AcctInfo_Type" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>