Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/1112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RateMatrixTier_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Rate" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Term" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Count" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>