Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/118.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd37" />
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd79" />
  <complexType name="StmtTimeFrame_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="StartDt" type="dateTime" />
      <element minOccurs="0" maxOccurs="1" name="EndDt" type="dateTime" />
      <element minOccurs="0" maxOccurs="1" name="RecurRule" type="tns:RecurRule_Type" />
    </sequence>
  </complexType>
</schema>