Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/121.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd14" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd91" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd38" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd39" />
  <xsd:complexType name="AcctBal_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="CurAmt" type="tns:CurAmt_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="BalType" type="tns:BalType_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="InterestRateYield" type="tns:InterestRateYield_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="TotalCurAmt" type="tns:TotalCurAmt_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LimitAmt" type="tns:CurAmt_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MXLimitAmt" type="tns:CurAmt_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AvgLastMonth12" type="tns:CurAmt_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AvgLastMonth03" type="tns:CurAmt_Type" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>