Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/132.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PartyEnvr_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="CreateRefIdent" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="Type" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CreatedDt" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="LastUpdateDt" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>