Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/140.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd23" />
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd24" />
  <complexType name="PartyRef_Type">
    <all>
      <element minOccurs="0" maxOccurs="1" name="PartyKeys" type="tns:PartyKeys_Type" />
      <element minOccurs="0" maxOccurs="1" name="PersonPartyInfo" type="tns:PersonPartyInfo_Type" />
    </all>
  </complexType>
</schema>