Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/162.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:Q1="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd66" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd13" />
  <xsd:complexType name="IntDistAcctRef_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctKeys" type="Q1:AcctKeys_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctInfo" type="Q1:AcctInfo_Type" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>