Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/163.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd112" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd113" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd114" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd23" />
  <xsd:complexType name="PartyRec_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="PersonPartyInfo" type="tns:PersonPartyInfo_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PartyEnvr" type="tns:PartyEnvr_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PartyStatus" type="tns:PartyStatus_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PartyId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PartyInfo" type="tns:PartyInfo_Type" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>