Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/168.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PersonName_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="FullName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="GivenName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="MaternalName" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PatternalName" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>