Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/169.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:this="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="AcctTrnStatus_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctTrnStatusCode" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="StatusDesc" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="EffDt" type="xsd:dateTime" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>