Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/173.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PhoneNum_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Phone" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="PhoneType" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CellPhone" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>