Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/179.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:Q1="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd86" />
  <xsd:complexType name="DepAcctData_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="IntDispData" type="Q1:IntDispData_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="RenewalOption" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>