Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/185.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd55" />
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd7" />
  <xsd:complexType name="AcctTrnRec_Type">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctTrnId" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctTrnInfo" type="tns:AcctTrnInfo_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctTrnStatus" type="tns:AcctTrnStatus_Type" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>