Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/191.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="Duration_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="Count" type="string" />
      <element minOccurs="0" maxOccurs="1" name="Unit" type="string" />
    </sequence>
  </complexType>
</schema>