Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/192.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd15" />
  <xsd:complexType name="CurAmt_Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Amt" type="xsd:double" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CurCode" type="tns:CurCode_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="CurAmtPrestigeSchool" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>