Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/195.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd16" />
  <complexType name="AcctKeys_Type">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="AcctId" type="string" />
      <element minOccurs="0" maxOccurs="1" name="BranchIdent" type="string" />
      <element minOccurs="0" maxOccurs="1" name="AcctIdent" type="tns:AcctIdent_Type" />
      <element minOccurs="0" maxOccurs="1" name="FIIdent" type="string" />
    </sequence>
  </complexType>
</schema>