Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/197.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:Q1="http://itau.cl/xmlns/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/1" xmlns:Q2="http://itau.cl/xmlns/common/xsd/1" xmlns:Q3="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd2" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd3" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd4" namespace="http://itau.cl/xmlns/common/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd5" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd6" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd7" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd8" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:import schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd9" namespace="http://itau.cl/xmlns/xsd/1" />
  <xsd:element name="ControlLineaCreditoTesoreriaRs" type="Q1:ControlLineaCreditoTesoreriaRs" />
  <xsd:complexType name="ControlLineaCreditoTesoreriaRs">
    <xsd:all>
      <xsd:element minOccurs="0" maxOccurs="1" name="MsgRsHdr" type="Q2:MsgRsHdr_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="RqUID" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="AcctStmtInfo" type="Q3:AcctStmtInfo_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="IntDistAcctRef" type="Q3:IntDistAcctRef_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="ForExQuoteRec" type="Q3:ForExQuoteRec_Type" />
      <xsd:element minOccurs="0" maxOccurs="1" name="OfferInfo" type="Q3:OfferInfo_Type" />
    </xsd:all>
  </xsd:complexType>
</xsd:schema>