Modulos/SAO/Visual.Net/Opciones/ProxyServiceSAO/ProxyServiceSAO/Service References/SrvTomaLinea/199.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="http://itau.cl/xmlns/xsd/1" targetNamespace="http://itau.cl/xmlns/xsd/1" xmlns="http://www.w3.org/2001/XMLSchema">
  <include schemaLocation="http://busqa.itauchile2.cl:7823/BankPortfolioAndTreasury/CorporateTreasury/Tesoreria/ControlLineaCreditoTesoreria/1?xsd=xsd50" />
  <complexType name="NetworkTrnData_Type">
    <all>
      <element minOccurs="0" maxOccurs="1" name="PostAddr" type="tns:PostAddr_Type" />
      <element minOccurs="0" maxOccurs="1" name="OriginatorType" type="string" />
      <element minOccurs="0" maxOccurs="1" name="NetworkRefIdent" type="string" />
    </all>
  </complexType>
</schema>